<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.qos.logback" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="spring.framework" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.hibernate" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.kie" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.drools" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.spring.boot" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.springframework" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.jbpm.process.core" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.drools.drools-decisiontables"
		additivity="false" level="DEBUG">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.aikiinc" additivity="false"
		level="DEBUG">
		<appender-ref ref="stdout" />
	</logger>
	
	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
</configuration>